<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Local Device Tunnel (Advanced)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tunnel Device IP</string>
			<key>Key</key>
			<string>TunnelDeviceIP</string>
			<key>DefaultValue</key>
			<string>10.8.0.1</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tunnel Fake Host IP</string>
			<key>Key</key>
			<string>TunnelFakeIP</string>
			<key>DefaultValue</key>
			<string>10.8.0.2</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tunnel Subnet Mask</string>
			<key>Key</key>
			<string>TunnelFakeIP</string>
			<key>DefaultValue</key>
			<string>255.255.255.0</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
